<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/bemvindo.png"/>
        <span id="welcomeHeader">BEM VINDO AO PIXELMON BRASIL</span>
        <span id="welcomeDescription">O lugar onde você pode explorar um mundo incrível, fazer amizades com outros jogadores, colecionar pokémons raros, treinar sua equipe e disputar duelos emocionantes para se tornar o campeão supremo!</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                Junte-se a nós
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>